torch
torchvision
torchaudio
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
imageio==2.37.0
lazy_loader==0.4
networkx==3.2.1
numpy==2.0.2
opencv-python==4.12.0.88
packaging==25.0
pillow==11.3.0
requests==2.32.5
scikit-image==0.24.0
scipy==1.13.1
tifffile==2024.8.30
tqdm==4.67.1
urllib3==2.5.0
